.preLogHome{
  margin-left: 100px;
  margin-right: 5px;
  width: 100px;
  height: 50px;
  font-style: italic;
  background-color: white;
  color: black;
  border: 3px solid #4CAF50; /* Green */
  transition-duration: 0.3s;
  border-radius: 10px;
   color: #4CAF50;
}

.preLogHome:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.50);
  cursor: pointer;
}

.login{
  margin-left: 100px;
  margin-right: 5px;
  width: 100px;
  height: 50px;
  font-style: italic;
  background-color: white;
  color: black;
  border: 3px solid #4CAF50; /* Green */
  transition-duration: 0.3s;
  border-radius: 10px;
   color: #4CAF50;
}

.login:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.50);
  cursor: pointer;
}

.signup{
  margin-left: 100px;
  margin-right: 5px;
  width: 100px;
  height: 50px;
  font-style: italic;
  background-color: white;
  color: black;
  border: 3px solid #4CAF50; /* Green */
  transition-duration: 0.3s;
  border-radius: 10px;
   color: #4CAF50;
}

.signup:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.50);
  cursor: pointer;
}

.intro {
  margin-left: 100px;
}

.logo {
  margin-left: 80px;
  margin-top: 35px;
}

.welcome {
  margin-left: 75px;
}

.taskBar{
height:50px;
}
.logoutBtn {
  margin-right: 5px;
  width: 150px;
  height: 60px;
  font-style: italic;
  background-color: white;
  color: black;
  border: 3px solid #cb6544f5;
  transition-duration: 0.3s;
  border-radius: 10px;
  color: #cb6544f5;
  font-size: 20px; 
}

.logoutBtn:hover {
  background-color: #cb6544f5;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.50);
  cursor: pointer;
}

.homeBtn{
  margin-left: 90px;
  margin-right: 5px;
  width: 150px;
  height: 60px;
  font-style: italic;
  text-decoration: none;
  background-color: white;
  color: black;
  border: 3px solid #4CAF50; /* Green */
  transition-duration: 0.3s;
  border-radius: 10px;
  color: #4CAF50;
  font-size: 20px;
}

.homeBtn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.50);
  cursor: pointer;
}

.creatPostBtn {
  margin-right: 5px;
  width: 150px;
  height: 60px;
  font-style: italic;
  background-color: white;
  color: black;
  border: 3px solid #4CAF50; /* Green */
  transition-duration: 0.3s;
  border-radius: 10px;
  color: #4CAF50;
  font-size: 20px;
}

.creatPostBtn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.50);
  cursor: pointer;
}

.personalFeedBtn {
  margin-right: 5px;
  width: 150px;
  height: 60px;
  font-style: italic;
  background-color: white;
  color: black;
  border: 3px solid #4CAF50; /* Green */
  transition-duration: 0.3s;
  border-radius: 10px;
  color: #4CAF50;
  font-size: 20px;
}

.personalFeedBtn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.50);
  cursor: pointer;
}

.friendsBtn {
  margin-right: 5px;
  width: 150px;
  height: 60px;
  color:green;
  font-style: italic;
  background-color: white;
  color: black;
  border: 3px solid #4CAF50; /* Green */
  transition-duration: 0.3s;
  border-radius: 10px;
  color: #4CAF50;
  font-size: 20px;
}

.friendsBtn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.50);
  cursor: pointer;
}

.inboxBtn {
  margin-right: 5px;
  width: 150px;
  height: 60px;
  font-style: italic;
  background-color: white;
  color: black;
  border: 3px solid #4CAF50; /* Green */
  transition-duration: 0.3s;
  border-radius: 10px;
  color: #4CAF50;
  font-size: 20px;
}

.inboxBtn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.50);
  cursor: pointer;
}

.profileBtn {
  margin-right: 5px;
  width: 150px;
  height: 60px;
  font-style: italic;
  background-color: white;
  color: black;
  border: 3px solid #4CAF50; /* Green */
  transition-duration: 0.3s;
  border-radius: 10px;
  color: #4CAF50;
  font-size: 20px;

}

.profileBtn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.50);
  cursor: pointer;
}

.friends {
    display: flexbox;
    width: 500px;
    height: 500px;
    float:left;
    margin:1rem;
    padding:1rem;
    border-style: ridge;
    border-color: black;
    background-color: rgb(255, 247, 196);
    text-align: ce;
    /* margin-left: auto; */
    /* margin-right: auto; */
    justify-content: center;
    border-radius: 50px;
}

.friends img {
    width: 60%;
    height: 60%;
    border-radius: 50%;
  
}

.homePageTitle {
 margin-left: 90px;
}

.postCard > .card {
  margin-bottom: 0px;
  border: 3px solid #4CAF50;
  border-radius: 75px;
  width: 80%;
  height: 80%;
  margin-left:auto;
  margin-right: auto;
  padding-bottom: 1rem;
}

.profileImage {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.postProfile {
  display: flexbox;
    width: 500px;
    height: 500px;
    float:left;
    margin:1rem;
    padding:9rem;
    border-style: ridge;
    border-color: black;
    background-color: rgb(255, 247, 196);
    text-align: ce;
    /* margin-left: auto; */
    /* margin-right: auto; */
    justify-content: center;
    border-radius: 50px;
}

.postImage {
  display: block;
  margin-left: 310px;
  margin-right: auto;
  width: 60%;
  border-radius: 50px;
  width: 55%;
  height: 55%;
  padding:2rem;
}

.avatar {
  float: left;
  margin-left: 75px;
  border-radius: 110px;
}

.userHandle {
  float: left;  
  font-weight: bold;
}

.caption {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 100px;
  font-size: 23px;
  font-style: italic;
  font-weight: normal;
  font-family:'Lucida Sans', sans-serif;
  text-indent: 525px;
}

.like-btn {
   margin-top: 8px;
  margin-left: 310px;
  margin-right: 5px;
  width: 60px;
  height: 40px;
  font-style: italic;
  background-color: white;
  color: black;
  border: 3px solid #4CAF50; /* Green */
  transition-duration: 0.3s;
  border-radius: 10px;
   color: #4CAF50;
}

.like-btn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  cursor: pointer;
}

.Dis-like-btn{
  margin-top: 8px;
   width: 60px;
   height: 40px;
   font-style: italic;
   background-color: white;
  color: black;
  border: 3px solid rgba(250, 54, 54, 0.932); /* Green */
  transition-duration: 0.3s;
  border-radius: 10px;
  color:rgba(250, 54, 54, 0.932);
}

.Dis-like-btn:hover {
  background-color: rgba(250, 54, 54, 0.932); /* Red */
  color: white;
  cursor: pointer;
}

.likes {
  float: right;
  margin-bottom: 40px;
  margin-right: 500px;
  font-style: italic;
  color: rgb(108, 108, 108);
}

.disLikes {
  float: right;
  margin-right: 20px;
  font-style: italic;
  color: rgb(108, 108, 108);
}

.input {
  text-align: center;
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #4CAF50; /* Green */
  border-radius: 10px;
  height: 50px;
}

.postBtn {
  float: right;
  margin-right: 500px;
  margin-top: 5px;
  width: 170px;
  height: 52px;
  font-style: italic;
  background-color: white;
  color: black;
  border: 3px solid #4CAF50; /* Green */
  transition-duration: 0.3s;
  border-radius: 10px;
  color: #4CAF50;
  font-size: 20px;
}

.postBtn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  cursor: pointer;
}

.input-caption {
  margin-left: 60px;
  font-size: 25px;
  font-style: italic;
}

.create-title {
  margin-left: 70px;
  font-style: italic;
}

.inbox-title {
  margin-left: 80px;
  font-style: italic;
}

.link-text {
  color:  #4CAF50;
  text-decoration: none;
}

.link-text:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}